<div class="info-window-content station-info-window">
    <div class="info-header">
        <h3 class="station-name"></h3>
        <button class="close-button" onclick="closeInfoWindow()">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <div class="info-content">
        <p class="station-vicinity"></p>
        <p class="station-rating"></p>
        <div class="info-buttons">
            <button class="add-waypoint-btn btn-click-effect"><i class="fas fa-plus-circle"></i> Durak Ekle</button>
            <button class="show-restaurants-btn btn-click-effect"><i class="fas fa-utensils"></i> Restoranları Göster</button>
        </div>
    </div>
</div>
